/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/background\ novo.png");
  background-size: auto;
  .secular-one-regular {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  background-color: #9b0256;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #000000;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Blocos de link */
.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  height: 60px;
}

.link-box img {
  width: 40px;
  height: 32px;
  margin-right: 12px;
}

.link-box span {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.link-box:hover {
  transform: scale(1.03);
}

/* Estilos por rede */
.instagram {
  background-color: #E1306C;
}

.instagram:hover {
  background-color: #c1275d;
}

.github {
  background-color: #333;
}

.github:hover {
  background-color: #555;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  background-color: #005f91;
}

.titulo {
  font-size: 30px;
  color: rgb(111, 2, 201);
  margin-bottom: 35px;
}

